name: golangci-lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  vet:
    name: Go Vet
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Run go vet
      run: go vet ./...

  lint:
    name: golangci-lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4   # v5 уже есть, но v4 пока стабилен

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'        

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9   
        with:
          version: v2.0            
          args: --timeout=5m